*,
::before,
::after,
body {
	margin: 0;
	padding: 0;
}

form {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	column-gap: 1rem;
	margin: 2rem 0;
}

.conversion {
	display: flex !important;
	align-items: center !important;
	column-gap: 0.5rem;
}

@media screen and (max-width: 340px) {
	#table thead,
	#table tbody td,
	#table tbody th {
		font-size: 12px !important;
	}
}
